<div>
  <div class="col-md-12">
    <h5>Criar Order</h5>
    <div class="action-dialog">
      <mat-form-field>
        <mat-select placeholder="Seller" [(ngModel)]="seller">
          <mat-option *ngFor="let op of sellers" [value]="op['x-api-key']">
            {{op['x-user-email']}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button (click)="loadModel()" color="accent">Modelo</button>
      <button mat-raised-button (click)="saveOrder()" color="primary">Salvar</button>
    </div>
  </div>
  <div class="col-md-12" style="border:1px solid #ccc"></div>
  <div class="col-md-12" style="padding:10px 10px 10px 10px;">
    <ngx-monaco-editor style="height:500px" [options]="optionsMonaco"  [(ngModel)]="code" [model]="model"></ngx-monaco-editor>
  </div>
</div>
