<div>
  <div class="col-md-12">
    <h5>Post: {{order.code}} - {{order.seller['x-user-email']}}</h5>
    <div class="action-dialog">
      <mat-form-field  style="width:30%">
        <input matInput placeholder="Url save order" [(ngModel)]="urlSend" >
      </mat-form-field>
      <button mat-raised-button (click)="send()" color="primary">Send</button>
      <span> {{response}}</span>
    </div>
  </div>
  <div class="col-md-12" style="border:1px solid #ccc;margin-bottom:10px"></div>
  <div class="col-md-12 row" >
    <div class="col-md-6">
      <ngx-monaco-editor style="height:500px;" [options]="optionsMonaco" [(ngModel)]="code" [model]="model"></ngx-monaco-editor>
    </div>
    <div class="col-md-6">
      <ngx-monaco-editor style="height:500px;" [options]="optionsMonaco" [(ngModel)]="codeResponse" [model]="model2"></ngx-monaco-editor>
    </div>
  </div>
</div>
