<mat-card>
  <mat-card-title><h1>Lista de Orders Skyhub</h1></mat-card-title>
  <mat-card-content>
    <div class="table-action-button">
      <button mat-raised-button color="primary" (click)="openDialog()">
        Adicionar
      </button>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Seller</th>
          <th scope="col">Code</th>
          <th scope="col">Status</th>
          <th scope="col">Date</th>
          <th scope="col">Customer</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let op of orders">
          <td>
            <span *ngIf="op.seller.length > 0">
              {{op.seller[0]['x-user-email']}}
            </span>
          </td>
          <td>{{op.code}}</td>
          <td>{{op.status.type}}</td>
          <td>{{op.approved_date | date: "dd/MM/yyyy h:m:s"}}</td>
          <td>{{op.customer.name}}</td>
          <td>
            <div class="button-action-list">
              <button (click)="postOrder(op)" mat-raised-button color="accent">
                <i class="material-icons" style="font-size:13px">
                  border_color
                </i> Post
              </button>
              <button (click)="editOrder(op)" mat-raised-button color="primary">
                <i class="material-icons" style="font-size:13px">
                  border_color
                </i> Edit
              </button>
              <button mat-raised-button color="warn" (click)="delete(op._id)" *ngIf="!op.block">
                <i class="material-icons" style="font-size:13px">
                  delete
                </i> Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6">

            <mat-paginator (page)="changePage($event)"
                           [length]="pagination.length"
                           [pageSize]="pagination.pageSize"
                           [pageIndex]="pagination.page"
                           [pageSizeOptions]="pagination.pageSizeOptions">
            </mat-paginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </mat-card-content>
</mat-card>
