<div id="top-header" class="mat-elevation-z6">
  

  <a class="mat-button" mat-button="" [routerLink]="['/']">
    <span class="mat-button-wrapper"><i class="material-icons">ac_unit</i> API VIRTUAL</span>
  </a>

  <ul id="navbar">
    <li class="navbar-menu">
      <a href="#" class="mat-button" mat-button=""><span class="mat-button-wrapper"><img src="./assets/images/icon-skyhub.png"> Skyhub</span></a>
      <ul class="dropdown-menu mat-elevation-z2">
        <li class="navbar-menu-item" [routerLink]="['/skyhub/sellers']" [routerLinkActive]="['active']"> Sellers</li>
        <li class="navbar-menu-item" [routerLink]="['/skyhub/orders']" [routerLinkActive]="['active']">Orders</li>
        <li class="navbar-menu-item">Products</li>
      </ul>
    </li>
    <li class="navbar-menu disable">
      <a class="mat-button" mat-button="" href="#"><span class="mat-button-wrapper"><img src="./assets/images/icon-cnova.png"> CNova</span></a>
      <ul class="dropdown-menu mat-elevation-z2">
        <li class="navbar-menu-item">Sellers</li>
        <li class="navbar-menu-item">Orders</li>
        <li class="navbar-menu-item">Products</li>
      </ul> 
    </li>
    <li class="navbar-menu disable">
      <a class="mat-button" mat-button="" href="#"><span class="mat-button-wrapper"><img src="./assets/images/icon-mercado-livre.png"> Mercado Livre</span></a>
      <ul class="dropdown-menu mat-elevation-z2">
        <li class="navbar-menu-item">Sellers</li>
        <li class="navbar-menu-item">Orders</li>
        <li class="navbar-menu-item">Products</li>
      </ul> 
    </li>
  </ul>


</div>
