<mat-card>
  <mat-card-title>
    <h1>API Online</h1>
  </mat-card-title>

  <mat-divider></mat-divider>
  
  <mat-card-content>
    <ul id="list-endpoints">
      <li *ngFor="let o of apis" class="item">
        http://{{o.host}}
        <ul>
          <li class="sub-item alert alert-success" *ngFor="let o2 of o.endpoints"><b>{{o2.method}}/</b>   http://{{o.host}}{{o2.url}}</li>
        </ul>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
