<mat-card>
  <mat-card-title>
    <h1>Add/Edit Sellers Skyhub</h1>
  </mat-card-title>
  <mat-card-content>
    <div class="col-md-6" style="margin:auto">
      <form [formGroup]="form" (ngSubmit)="save(form.value)">
        <div class="form-group" [ngClass]="{'has-error':!form.controls['x-user-email'].valid && form.controls['x-user-email'].touched}">
          <label class="control-label">* E-mail</label>
          <input type="text" class="form-control " name="x-user-email" [formControl]="form.controls['x-user-email']" required>
        </div>
        <div class="form-group" [ngClass]="{'has-error':!form.controls['x-api-key'].valid && form.controls['x-api-key'].touched}">
          <label class="control-label">* ApiKey</label>
          <input type="text" class="form-control " name="x-api-key" [formControl]="form.controls['x-api-key']" required>
        </div>
        <div class="form-group" [ngClass]="{'has-error':!form.controls['x-accountmanager-key'].valid && form.controls['x-accountmanager-key'].touched}">
          <label class="control-label">* Account</label>
          <input type="text" class="form-control " name="x-accountmanager-key" [formControl]="form.controls['x-accountmanager-key']" required>
        </div>
        <div class="form-group" [ngClass]="{'has-error':!form.controls['urlSaveOrder'].valid && form.controls['urlSaveOrder'].touched}">
          <label class="control-label">* Save Order</label>
          <input type="text" class="form-control " name="urlSaveOrder" [formControl]="form.controls['urlSaveOrder']" required>
        </div>
        <div class="form-group action-button-edit">
          <span>* campos são obrigatórios.  </span>
          <button mat-raised-button color="warn" [routerLink]="['/skyhub/sellers']">
            Voltar
          </button>
          <button mat-raised-button color="primary" [disabled]="!form.valid">
            Salvar
          </button>

        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
