<mat-card>
  <mat-card-title><h1>List Sellers Skyhub</h1></mat-card-title>
  <mat-card-content>
    <div class="table-action-button">
      <button mat-raised-button color="primary" [routerLink]="['./edit']">
          Adicionar
      </button>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">ApiKey</th>
          <th scope="col">XAccount</th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let op of sellers">
          <td>{{op['x-user-email']}}</td>
          <td>{{op['x-api-key']}}</td>
          <td>{{op['x-accountmanager-key']}}</td>
          <td>
            <div class="button-action-list">
              <button [routerLink]="['./edit/'+op._id]" mat-raised-button color="primary" >
                <i class="material-icons" style="font-size:13px">
                  border_color
                </i> Edit
              </button>
              <button mat-raised-button color="warn" (click)="delete(op._id)" *ngIf="!op.block">
                <i class="material-icons" style="font-size:13px">
                  delete
                </i> Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
