<main>
  <mat-drawer-container class="container-side-bar" fullscreen>
    <mat-drawer mode="over" opened="false">
    	hghjg
    </mat-drawer>
        <mat-drawer mode="over" position="end" opened="false">
    	hghjg
    </mat-drawer>
    <mat-drawer-content>
      <nav-component></nav-component>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</main>
