@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

body {
  width: 100%;
  padding: 0 0 0 0 !important;
}

mat-drawer {
  width: 200px;
  border-right: 1px solid #ccc;
}
.mat-drawer-content {
  top: 56px;
  padding-bottom:56px;
}


/* TOP */
#top-header {
  position: fixed;  
  top: 0;
  left: 0;
  right: 0;
  background-color: #3f51b5;
  color: #fff;
  padding: 10px 16px;
  font-size: 15px;
  line-height: 36px;
  font-weight: 600;
  z-index: 2;
}
#top-header .mat-button {
  font-weight: 600;
}


/* MENU */
ul#navbar {
  display: inline-block;
  padding: 0;
  margin:0;
  list-style: none;
}

ul#navbar > li {
  position: relative;
  display: inline-block;
}
ul#navbar > li img {
  margin-right: 4px;
}
ul#navbar li:hover ul.dropdown-menu {
  display: block;
}
ul#navbar li.navbar-menu > a {
  display: block;
}
ul#navbar li.navbar-menu:hover > a {
  background-color: rgba(0,0,0,.12);
}

ul.dropdown-menu {
  display: none;
  background: #fff;
  border-radius: 2px;
  min-width: 200px;
  top: 34px;
}
ul.dropdown-menu > li {
  line-height: 48px;
  padding: 0 16px;
  font-size: 16px;
  white-space: nowrap;
  font-weight: 400;
  color: #333;
  transition: opacity .2s cubic-bezier(.35,0,.25,1),background-color .2s cubic-bezier(.35,0,.25,1);
}
ul.dropdown-menu > li:hover {
  background-color: rgba(0,0,0,.12);
}


/* MENU - DISABLE */
ul#navbar > li.disable {
  opacity: 0.6;
}
ul#navbar > li.disable img {
  filter: grayscale(100%);
}
ul#navbar > li.disable ul.dropdown-menu {
  display: none !important;
}
ul#navbar > li.disable .mat-button-focus-overlay {
  background-color: transparent;
}
ul#navbar .navbar-menu-item {
  cursor:pointer;
}
/* CARDS */
.mat-card {
  padding: 0 !important;
}
.mat-card-title {
  color: #fff;
  padding-left: 20px;
  background-color: #3f51b5;
}
.mat-card-title h1 {
  font-size: 20px;
  font-weight: 300;
  padding: 28px 8px;
}

.button-action-list {
 width:100%;
 text-align:right;
}

.button-action-list button + button {
  margin-left: 10px
}
.table-action-button {
  width:300px;
  text-align:right;
  float:right;
  margin:10px 10px 10px 10px;
}
mat-card-content {
  padding-top:10px !important;
}

.mat-divider {}
.mat-card-content {
  padding:10px 10px 10px 10px !important;
}

.action-button-edit button + button {
  margin-left: 10px
}

.action-button-edit {
  width: 100%;
  text-align: right;
  margin: 10px 10px 10px 10px;
  padding-right:10px;
}
  .has-error input {
    border-color: #ff0000 !important;
  }

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: #3f51b5;
}

.action-dialog button{
  margin-left:10px;
}
